# Исключить логи и временные файлы
logs/
*.log

# Исключить конфигурационный файл с ключами
config.py

# Исключить временные и кэш-файлы
__pycache__/
*.py[cod]

# Исключить файлы виртуального окружения, если он есть в проекте
venv/